/*===========UNIVRSAL===========*/
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700i|Raleway');

.font2 {
  font-family:'raleway', sans-serif;
}

.font1 {
  font-style: italic;
  font-family: 'Lobster Two', cursive;
}
/*===========NAVBAR===========*/
.navbar-defalt {
  background-color: #b3b3b3;
}

.nav-tabs>li.active>a {
  color: #000;
  background-color: #fff;
}

.nav-tabs>li>a {
  color: #000
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}

.nav-tabs {
    border: none
}
/*=========HOME PAGE=========*/
#about-stuff {
  margin-top: 50px;
  background-image: url('../img/apple.jpg');
  height: 800px;
}
.panel-title {
  font-style: italic;
  font-family: 'Lobster Two', cursive;
}

.panel-body{
  font-family:'raleway', sans-serif;
}

#home {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  #home {
    margin-top: 138px;
  }
}

/*==============HOME END==============*/
#references {
  background-color: #b3b3b3;
}
/*==============CONTACT==============*/
#contact {
  background-color: #b3b3b3;
}

#fontsize {
  font-size: 64px;
}
